body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  
  #board {
    display: grid;
    grid-template-columns : repeat(3, 100px);
    grid-gap: 15px;
    /* border: 2px solid black; */
    padding: 15px;
    border-radius: 10px;
    /* background-color: #bbcbd1; */
  }
  .cell {
    width: 90px;
    height: 90px;
    border: 2px solid #111010;
    /* border-radius: 50% / 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    cursor: pointer;
    background-color: rgb(235, 151, 217);
  }
  
  #restart {
    margin-top: 20px;
    border: 2px dotted rgb(117, 34, 117);;
    border-radius: 30px;
    padding: 10px 20px;
    background-color:rgb(2, 2, 2);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
  }
  restart:hover {
    background-color: #484d52;
    color: #ffffff; 
    text-decoration: underline;
  }
